package-lock.json
node_Modules
out
.keep
iv2020 *
iv2020
sb2020*
src/data/iv*
PL2020*
*.zip
ca0000*
cageo2010.pl
tl_20*
ivblocks_rev.json
*.pl
sb2010.*
.Rhistory
.RData
iv2010_rev.json
iv.json
iv2020.json
iv2010.json
ivblocks.json
ivblocks2010.json
ivblocks2010_rev.json
ivDataP1.csv