.dn-census2020,
.dn-census2020 * {
  letter-spacing: normal !important;
  font-family: Arial, Helvetica, sans-serif !important;

  h1,
  h3,
  p {
    margin: 0;
  }

  h3 {
    font-weight: 100;
  }

  a,
  a:link,
  a:active,
  a:visited,
  a:hover {
    color: black;
    text-decoration: none;
  }

  hr {
    border: none;
    border-top: 2px solid #d3d3d3;
  }
}
